.aboutArticle {
  max-width: 800px;
  margin: 0 auto 2em auto;
  background-color: rgba(var(--primary-main-rgb), 0.6);
  border: 1px solid var(--primary-dark);
  padding: 1em;
  border-radius: 12px;
}

.heroImage {
  width: 100%;
}

.heroImage img {
  display: block;
  margin: 0 auto;
  border-radius: 12px 12px 0 0;
  object-fit: cover;
  width: 500px;
  max-width: 100%;
  height: 500px;
}

.prose {
  max-width: 100%;
  margin: 0 0 1em 0;
  padding: 1em;
  background-color: var(--primary-light);
  border-radius: 0 0 12px 12px;
}

.title {
  text-align: center;
  line-height: 1;
  margin-top: 1em;
}

.title h1 {
  margin: 0 0 0.5em 0;
  color: var(--primary-dark);
  text-shadow: none;
  font-size: 3.052em;
}

.socialLinks {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.socialLink {
  padding: 1em 1em;
  border-radius: 8px;
  background-color: var(--secondary-main);
  color: white;
  border: 1px solid var(--secondary-dark);
  width: 300px;
  cursor: pointer;
}

.socialLink:hover {
  background-color: var(--secondary-dark);
}

.aboutImages {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  align-items: center;
  margin: 2em;
}

.aboutImage {
  border-radius: 8px;
  border: 10px solid var(--secondary-dark);
}

.flowerDivider {
  margin: 0.75em 0;
}

@media (max-width: 600px) {
  .aboutImages {
    grid-template-columns: 1fr;
    margin: 1em;
  }
}
