@import 'tailwindcss';

/* Add RGB values for primary-light for translucency */
:root {
	--accent: #7F9679;
	--accent-dark: #4B5646;
	--black: 15, 18, 25;
	--gray: 96, 115, 159;
	--gray-light: 229, 233, 240;
	--gray-dark: 34, 41, 57;
	--text-shadow: -1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
	--text-shadow-header: black -1px 0px, black 0px 1px, black 3px 3px, black 0px -1px;
	
	/* Light mode colors */
	--primary-light: #D3DECF;
	--primary-light-rgb: 211, 222, 207;
	--primary-main: #7F9679;
	--primary-main-rgb: 127, 150, 121;
	--primary-dark: #4B5646;
	--primary-darker: #333D33;
	--secondary-light: #DECFD3;
	--secondary-main: #BD9FA8;
	--secondary-dark: #706677;
	--warning-main: #FFBF00;
	--dot-color: #FFB6C1;

  /* Dark mode colors */
  --dark-primary-light: #6d5749;
  --dark-primary-main: #492E1C;
  --dark-primary-dark: #29190E;
  --dark-primary-light-rgb: 109, 87, 73;
  --dark-primary-main-rgb: 73, 46, 28;

	color-scheme: light;
}

/* Font faces */
@font-face {
	font-family: 'Gluten';
	src: url('/fonts/Gluten/static/Gluten-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Gluten';
	src: url('/fonts/Gluten/static/Gluten-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Gluten';
	src: url('/fonts/Gluten/static/Gluten-ExtraBold.ttf') format('truetype');
	font-weight: bolder;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Ubuntu';
	src: url('/fonts/Ubuntu/Ubuntu-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Ubuntu';
	src: url('/fonts/Ubuntu/Ubuntu-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}


/* Dark mode variables */
html.dark {
	--primary-light: var(--dark-primary-light);
	--primary-main: var(--dark-primary-main);
	--primary-dark: var(--dark-primary-dark);
	--primary-light-rgb: var(--dark-primary-light-rgb);
	--primary-main-rgb: var(--dark-primary-main-rgb);
	--secondary-light: #D3DECF;
	--secondary-main: #7F9679;
	--secondary-dark: #BD9FA8;
	--accent: #DECFD3;
	--gray: 200, 200, 200;
	--gray-light: 50, 50, 50;
	--gray-dark: 230, 230, 230;
	color-scheme: dark;
}

html.dark main {
	background-image: url('/bg.png');
	background-repeat: repeat;
	background-attachment: fixed;
}

@property --pixel-size {
	syntax: '<length>';
	initial-value: 2px;
	inherits: false;
}

body {
	font-family: 'Ubuntu', sans-serif;
	letter-spacing: 0.03em;
	margin: 0;
	padding: 0;
	text-align: left;
	background-color: var(--primary-light);
	word-wrap: break-word;
	overflow-wrap: break-word;
	color: rgb(var(--gray-dark));
	font-size: 16px;
	line-height: 1.7;
	width: 100%;
	min-height: 100vh;
	overflow-x: hidden;
	box-sizing: border-box;
	transition: background-color 0.3s ease, color 0.3s ease;
}

*, *:before, *:after {
	box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Gluten', sans-serif;
	margin: 0;
	padding: 0;
	font-size: 0.75em;
	font-weight: bolder;
	text-align: left;
	color: black;
}

html.dark h1, html.dark h2, html.dark h3, html.dark h4, html.dark h5, html.dark h6 {
	color: white;
}

main {
	width: 100%;
	max-width: 100%;
	margin: 0;
	padding: 3em 0;
	background-color: var(--primary-light);
	background-image: url('/bg_light.png');
	background-repeat: repeat;
	box-sizing: border-box;
	background-attachment: fixed;
}

h1 {
	font-size: 3.052em;
	text-shadow: var(--text-shadow-header);
	font-weight: bolder;
	color: white;
}
h2 {
	font-size: 2.441em;
	font-weight: bold;
}
h3 {
	font-size: 1.953em;
	font-weight: bold;
}
h4 {
	font-size: 1.563em;
	font-weight: bold;
}
h5 {
	font-size: 1.25em;
}

strong,
b {
	font-weight: 700;
}
a {
	color: var(--accent-dark);
	transition: color 0.3s ease;
}
a:hover {
	color: var(--accent);
}

html.dark a {
	color: var(--secondary-light);
}

html.dark a:hover {
	color: var(--secondary-main);
}

p {
	margin-bottom: 1em;
}
.prose p {
	margin-bottom: 2em;
}
textarea {
	width: 100%;
	font-size: 16px;
}
input {
	font-size: 16px;
}
table {
	width: 100%;
}
img {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
}
code {
	padding: 2px 5px;
	background-color: rgb(var(--gray-light));
	border-radius: 2px;
}
pre {
	padding: 1.5em;
	border-radius: 8px;
}
pre > code {
	all: unset;
}
blockquote {
	border-left: 4px solid var(--accent);
	padding: 0 0 0 20px;
	margin: 0px;
	font-size: 1.333em;
}
hr {
	border: none;
	border-top: 1px solid var(--primary-dark);
}

#app-title {
	text-shadow: var(--text-shadow-header);
	font-weight: bold;
}

@media (max-width: 720px) {
	body {
		font-size: 18px;
	}
	main {
		padding: 1em 0;
	}
}

.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	white-space: nowrap;
}

.icon-svg {
	width: 20px;
	height: 20px;
	stroke: currentColor;
	transition: all 0.2s ease-in-out;
}

.centered {
	margin: auto;
	text-align: center;
}

.right {
	text-align: right;
}

.left {
	text-align: left;
}

.paragraph {
	margin-bottom: 4em;
}

.grid-2 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 2rem;
	align-items: center;
	margin-bottom: 2rem;
}

.divider {
	width: 75%;
	height: 3px;
	background-color: var(--primary-dark);
}

.star {
	width: 20px;
	height: 20px;
}

.flex-row-center {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.25em;
}