.contentWrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.homePageHeader {
  text-shadow: var(--text-shadow);
  color: white;
}

.featuredArticles {
  margin: 0 0 3em;
  text-align: center;
}

.featuredArticles h2 {
  margin-bottom: 0.25em;
  text-align: center;
  margin-left: 0;
  text-shadow: 1px 1px 1px 1px black;
}

.welcomeSection {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  background: var(--primary-main);
  padding: 2em;
  border: 1px solid var(--primary-dark);
  border-radius: 12px;
  box-shadow: 8px 8px var(--primary-dark);
  color: white;
}

.welcomeHeader {
  color: white;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  flex-wrap: wrap;
  font-weight: bold;
  line-height: 1.1;
  margin: 0 0 1em 0;
  font-size: 3.052em;
  text-shadow: var(--text-shadow-header);
}

.welcomeText {
  text-align: left;
  margin-top: 2em;
}

.word {
  display: inline-block;
  animation: colorRotate 6s linear infinite;
}

.word2 { color: #D0F0C0; animation-delay: 0s; }
.word3 { color: sandybrown; animation-delay: 1s; }
.word4 { color: khaki; animation-delay: 2s; }
.word5 { color: lightblue; animation-delay: 3s; }
.word6 { color: thistle; animation-delay: 4s; }

@keyframes colorRotate {
  0% { color: salmon; }
  16.66% { color: #D0F0C0; }
  33.33% { color: sandybrown; }
  50% { color: khaki; }
  66.66% { color: lightblue; }
  83.33% { color: thistle; }
  100% { color: salmon; }
}

.signature {
  width: 100px;
}

.hobby {
  color: var(--secondary-light);
  text-decoration: underline wavy var(--secondary-light);
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

.categories {
  margin-top: 4em;
  display: grid;
  gap: 3em;
}
