---
import Layout from '../layouts/AboutMe.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	heroImage="https://blog-images.poppyland.dev/me.jpeg"
	subcategories={[]}
>
	<p>
		Hello world! I'm Hannah, a software engineer by day and an enthusiastic hobbyist by night. From my home in Fort Mill, SC, which I share with my partner Danny and our three cats, I pursue a diverse array of creative interests. My passions range from nurturing my garden and crafting with needle and thread, to building with wood and hunting for antique treasures. When I'm not creating something with my hands, you'll find me immersed in a good book, working on coding projects, or studying languages. This blog is where I document these adventures and share what I learn along the way.
	</p>
	<p class="centered">
		Find me on:
	</p>
	<div class="social-links">
		<a href="https://github.com/hwilloug" target="_blank"></a><button class="social-link">Github</button></a>
		<a href="https://www.linkedin.com/in/hannah-willoughby-6a8664160/" target="_blank"><button class="social-link">LinkedIn</button></a>
		<a href="https://www.goodreads.com/hannah218" target="_blank"><button class="social-link">Goodreads</button></a>
		<a href="https://hannahwilloughby.dev" target="_blank"><button class="social-link">HannahWilloughby.dev</button></a>
	</div>
</Layout>

<style>
	.social-links {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1em;
	}

	.social-link {
		padding: 1em 1em;
		border-radius: 8px;
		background-color: var(--secondary-main);
		color: white;
		border: 1px solid var(--secondary-dark);
		width: 300px;
		cursor: pointer;
	}

	.social-link:hover {
		background-color: var(--secondary-dark);
	}
</style>
