.heroImage {
  width: 100%;
}

.heroImage img {
  display: block;
  margin: 0 auto;
  border-radius: 12px 12px 0 0;
  object-fit: cover;
  width: 100%;
  height: 500px;
}

.prose {
  max-width: 100%;
  margin: 0 0 1em 0;
  padding: 1em;
  background-color: var(--primary-light);
  border-radius: 0 0 12px 12px;
}

.title {
  margin-bottom: 1em;
  padding: 1em 0;
  text-align: center;
  line-height: 1;
}

.title h1 {
  margin: 0 0 0.5em 0;
  color: var(--primary-dark);
  text-shadow: none;
  font-size: 2.441em;
}

.title > p {
  color: rgb(var(--gray-dark));
}

.date {
  margin-bottom: 1em;
  color: rgb(var(--primary-dark-rgb));
  text-align: left;
}

.lastUpdatedOn {
  font-style: italic;
}

.categoryPills {
  display: flex;
  gap: 0.5em;
  flex-wrap: wrap;
  margin: 1em 0;
}

.pill {
  padding: 0.3em 0.8em;
  border-radius: 999px;
  font-size: 0.9em;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.pill.category {
  background: var(--primary-dark);
  color: white;
}

.pill.category:hover {
  background: var(--primary-darker);
}

.pill.subcategory {
  background: var(--secondary-main);
  color: white;
  border: 1px solid var(--secondary-dark);
}

.pill.subcategory:hover {
  background: var(--secondary-dark);
}

.content {
  padding: 0 1em;
}

.authorInfo {
  text-align: right;
  font-size: 0.8em;
  margin: 1em 0;
  color: rgb(var(--primary-main-rgb));
}

.authorInfo p {
  margin: 0;
}

.newsletterAndRelated {
  max-width: 800px;
  margin: 4em auto;
}

.articleWrapper {
  max-width: 800px;
  margin: 2em auto;
  background-color: rgba(var(--primary-main-rgb), 0.6);
  border: 1px solid var(--primary-dark);
  padding: 1em;
  border-radius: 12px;
}
