.link {
  color: white;
  display: inline-block;
  text-decoration: none;
  padding: 0.5em 1em;
  border-radius: 8px;
  width: 6rem;
  height: 4rem;
}

.link.active {
  background-color: rgba(var(--primary-light-rgb), 0.2);
}

.link:hover {
  background-color: rgba(var(--primary-light-rgb), 0.4);
}

.link:hover :global(.icon) svg {
  width: 42px;
  height: 42px;
}

.link:hover :global(.text) {
  font-size: 0;
  opacity: 0;
}

@media (max-width: 768px) {
  .link:hover :global(.icon) svg {
    width: 20px;
    height: 20px;
  }

  .link:hover :global(.text) {
    font-size: 0.8em;
    opacity: 1;
  }

  .link {
    width: auto;
    height: auto;
  }
}
