---
---

<div id="user-button"></div>

<script>
  // Initialize user button when Clerk is loaded
  window.Clerk?.mountUserButton(document.getElementById('user-button'));
</script>

<style>
  #user-button {
    display: inline-block;
  }
</style>